mixin page-footer 
    footer.page-footer 
        .page-footer__wrapper
            p.page-footer__company-legal © 2012 – 2020 <span class="company">ООО «Название компании»</span>
            .page-footer__security-logo